.certificate-container {
  position: relative;
  overflow: hidden;
}

.certificate-open {
  position: absolute;
  top: 7%;
  left: 0;
  height: auto;
  transform-origin: top; /* Punto de inicio de la transformación */
  transform: scaleY(0); /* Estado inicial: la escala vertical es 0 */
  transition: transform 0.5s ease-in-out; /* Animación */
}

.certificate-container:hover .certificate-open {
  transform: scaleY(1); /* Estado al pasar el cursor: escala vertical 1 */
}
.certificate-container:hover .certificate-rolled {
  opacity: 0;
}

.certificado-rolled {
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
