@import "tailwindcss";

.line::before{
content: "";
position: absolute;
top:50%;
left: -15%;
width: 3rem;
height: 4px;
background-color: #00B4D8;

}
.line::after{
content: "";
position: absolute;
top:50%;
left: 15%;
width: 4px;
height: 4px;
background-color: #00B4D8;
background-color: #000;

}


.experience-card-left-item::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  left: 0%;
  top: 40%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ffba00;
}

.experience-card-left-item::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -30px;
  top: 50%;
  background-color: #0A192F;
  border: #00B4D8 solid 3px;
  transform: translateY(-50%);
  border-radius: 50%;
}

.experience-card-right-item::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  left: 0%;
  top: 40%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ffba00;
}

.experience-card-right-item::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -30px;
  top: 50%;
  background-color: #0A192F;
  border: #00B4D8 solid 3px;
  transform: translateY(-50%);
  border-radius: 50%;
}


.experience-card-left{
left: 20px;
top:5%;
padding-left: .5rem;
}

.experience-card-right{
left: 20px;
top: 55%;
padding-left: .5rem;
}

.card-border-right{
 @apply border-l-amber-400 border-l-6
}

.card-border-left{
  @apply border-l-amber-400 border-l-6
  
}

.card-radius-right{
 
  border-radius: 0px 16px 16px 0px;

}

.card-radius-left{
 border-radius: 0 16px 16px  0 ;
}



.experience-card{
 @apply absolute w-[300px] min-[768px]:w-[550px] min-[1350px]:w-[630px]  h-[100px]  flex items-start
}

.experience-card-content{
 @apply  bg-[#111729] p-2 xl:p-6 shadow-lg transition-all duration-300
}

.experience-card-content-title{
  @apply text-[16px] xl:text-2xl font-semibold text-[#f3f4f6] mb-1
}

.experience-card-content-location{
 @apply text-sm xl:text-lg text-[#6B7280] mb-2
}

.experience-card-content-time{
  @apply text-sm font-medium text-[#00B4D8] mb-4
}

.experience-card-content-description{
  @apply text-[#6B7280] space-y-2 text-xs lg:text-[16px]
}

@media (width> 1280px) {
  .line::before{
content: "";
position: absolute;
left: -30px;
top:50%;
right: 96%;
width: 4rem;
height: 4px;
background-color: #00B4D8;

}
.line::after{
content: "";
position: absolute;
top:50%;
right: 100%;
width: 4px;
height: 4px;
background-color: #00B4D8;
background-color: #000;

}

.experience-card-left-item::before {
  left:100%;
  top: 40%;
  border-right: none;
  border-left: 10px solid #ffba00;
}

.experience-card-left-item::after {
  left: auto;
  right: -37px;
}


.experience-card-left{
  left: auto;
right:28px ;
/* pading-right: 1rem; */
}

.experience-card-right{
left: 21px;
top: 55%;
/* padding-left: 1rem; */
}


.card-border-right{
 @apply border-r-amber-400 border-l-0 border-r-6
}

.card-border-left{
  @apply border-l-amber-400 border-l-6
  
}

.card-radius-right{
 
  border-radius: 16px 0 0 16px;

}

.experience-card-right-item::before {
  right: 100%;
  top: 40%;
  border-right: 10px solid #ffba00;
}

.experience-card-right-item::after {
  right: 100%;
  top: 50%;
}

}







